rm -f /etc/grub.d/40_custom

grub2-mkconfig -o /boot/grub2/grub.cfg

for nb in $(echo '{{ _okd.coreos_dev }}'); do nvme format --ses=1 /dev/$nb --force ;done
for nb in $(echo '{{ _okd.coreos_dev }}'); do wipefs -a /dev/$nb ;done
for nb in $(echo '{{ _okd.coreos_dev }}'); do sgdisk --zap-all /dev/$nb ;done
for nb in $(echo '{{ _okd.coreos_dev }}'); do dd if=/dev/zero of=/dev/$nb bs=10M count=10 oflag=direct,dsync ;done
for nb in $(echo '{{ _okd.coreos_dev }}'); do blkdiscard /dev/$nb ;done
for nb in $(echo '{{ _okd.coreos_dev }}'); do partprobe /dev/$nb ;done

reboot

