# [baseDomain] : specify base domain name
# [metadata.name] : specify any cluster name
# ⇒ (metadata.name).(baseDomain) is the same one with the name on DNSMasq you set like here
# [controlPlane.replicas] : specify number of Control Plane Nodes
# [pullSecret] : paste contents of Pull Secret you downloaded
# [sshKey] : paste contents of SSH key you generated above (public key)
apiVersion: v1
baseDomain: srv.world
compute:
- hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: 3
metadata:
  name: okd4
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
pullSecret: '{"auths":*****}'
sshKey: 'ssh-rsa *****'
